.show-animation {
    display: inline-block;
    backface-visibility: hidden;
    animation: show 300ms ease-in;
}

.hide-animation {
    animation: hide 300ms ease-out;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hide {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
